@charset "iso-8859-1";

* {
/*	font-family: Verdana, Tahoma, sans-serif, serif ; */
	font-family: 'Courier New', 'Lucida Console', Consolas ;
	font-size: 12px ;
	font-style: normal ;
	font-weight: normal ;
	line-height: 200% ;
	margin: 0 ;
	padding: 0 ;
	text-decoration: none ;
}

u {
	text-decoration: underline ;
}

